@page
@model TelefoaneOnline.Pages.Cumparate.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cumparat[0].Utilizator)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cumparat[0].Telefon)
            </th>
             <th>
                @Html.DisplayNameFor(model => model.Cumparat[0].Telefon.Memorie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Cumparat) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Utilizator)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefon)
            </td>
             <td>
                @Html.DisplayNameFor(model => model.Cumparat[0].Telefon.Memorie)
             </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.ID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
