@page
@model TelefoaneOnline.Pages.Telefoane.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Telefon</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon.Denumire)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefon.Denumire)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefon.Pret)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefon.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon.DiagDisplay)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefon.DiagDisplay)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon.Categorie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefon.Categorie.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon.Memorie)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefon.Memorie.ID)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Telefon.Culoare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Telefon.Culoare.ID)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Telefon?.ID">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
